<%- include("header"); -%> <%- include("sidebar"); -%>

<div class="main__content">
  <h1>Strat Holme</h1>
  <p>@stratholme (twitter)</p>

  <p>picture</p>

  <a href="">website</a>
  <p>email</p>

  <p>sign up for weekly newsletter</p>
</div>

<%- include("footer"); -%>
