<%- include("header"); -%> <%- include("sidebar"); -%>

<div class="main__content">
  <div class="main__content-container">
    <h1>Contact Me</h1>
    <p>If you have any questions or comments, feel free to contact me below.</p>

    <p>Twitter</p>
    <p>email</p>
  </div>
</div>

<%- include("footer"); -%>
