<div class="sidebar">
  <ul class="dropdown__content">
    <li><a href="/">Home</a></li>
    <li><a href="/catalog/articles">All Articles</a></li>
    <li><a href="/catalog/contact">Contact Me</a></li>

    <%if (isAuthenticated) { %>
    <!--Logout-->
    <li><a href="/catalog/article/create">Write Article</a></li>
    <li><a href="/users/settings">User Settings</a></li>
    <li><a href="/users/logout">Logout</a></li>
    <% }else{ %>
    <!--Sign In/Register-->
    <li><a href="/users/register">Register</a></li>
    <li><a href="/users/login">Login</a></li>
    <%}%>
  </ul>
</div>

<div class="nav-container">
  <ul class="nav-items">
    <!-- Navigation -->
    <li class="nav-item"><a href="#">Home</a></li>
    <li class="nav-item"><a href="#">About</a></li>
    <li class="nav-item"><a href="#">Contact</a></li>
    <!-- Dropdown menu -->
    <li class="nav-item nav-item-dropdown">
      <a class="dropdown-trigger" href="#">Settings</a>
      <ul class="dropdown-menu">
        <li class="dropdown-menu-item">
          <a href="#">Dropdown Item 1</a>
        </li>
        <li class="dropdown-menu-item">
          <a href="#">Dropdown Item 2</a>
        </li>
        <li class="dropdown-menu-item">
          <a href="#">Dropdown Item 3</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
