<ul class="sidebar-ul">
  <li><a href="/">Home</a></li>
  <li><a href="/catalog/articles">All Articles</a></li>
  <li><a href="">Contact Me</a></li>
  <p>USER PANEL</p>
  <li><a href="/">Write Article</a></li>
  <li><a href="/">User Settings</a></li>
  <li><a href="/">Log Out</a></li>
</ul>
