body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* SIDEBAR */
.sidebar-ul {
  width: 12em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 3em;
}

.sidebar-ul li {
  padding: 5px 0;
}

.sidebar-ul a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
}

.user-panel {
  margin-left: 16px;
  font-weight: bolder;
  margin-top: 4em;
}

.username {
  margin-left: 16px;
  font-weight: bolder;
}

/* MAIN */

.main__content {
  margin: 0 10em;
}

.main__content-container {
  margin: 0 2em;
}

.main__article-p {
  margin: 5px 10px;
}

.main__content-tabs {
  display: flex;
  gap: 5px;
  margin: 0 10em;
  margin-top: 5px;
}

.main__content-title {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10em;
}

.main__tabs-title {
  padding-left: 5px;
  background-color: #cedff2;
  border: 1px solid #ddd;
}

.main__content-recent {
  background-color: #f9f9f9;
  flex: 1 1 55%;
}

.main__content-featured {
  background-color: #f9f9f9;
  flex: 1 1 55%;
}

.read-more {
  color: #808080;
}

.read-more:hover {
  cursor: pointer;
}

.read-more a {
  text-decoration: none;
}

/* ARTICLE */

.main__content-article {
  display: flex;
  gap: 5px;
  margin: 0 10em;
  margin-top: 25px;
}

.main__content-beginner,
.main__content-advance,
.main__content-security {
  background-color: #f9f9f9;
  flex: 1 1 55%;
}

h3 {
  padding-left: 5px;
  background-color: #cedff2;
  border: 1px solid #ddd;
}

.main__content-article li {
  padding: 4px 0;
}

.main__content-article a {
  text-decoration: none;
  display: block;
}

/* ARTICLES */

.main__article {
  border-top: 1px solid black;
  width: 80%;
}

.main__article-title {
  font-size: larger;
}

.main__article-author {
  padding-bottom: 5px;
  font-style: italic;
}

/* WRITE ARTICLE */

.main__write-tags {
  display: flex;
}

.main__write-tags button {
  border: 1px solid #7fb77e;
  background-color: #fff;
  color: #7fb77e;
  padding: 5px;
  margin-right: 20px;
  cursor: pointer;
}

.main__write-tags button:hover {
  border: 1px solid #7fb77e;
}

.main__write-tags button:focus {
  background-color: #7fb77e;
  border: 1px solid #7fb77e;
  color: #fff;
}

/* WRITE ARTICLES - FORM */

.form-group label {
  display: block;
  font-size: 20px;
  margin: 7px 10px 3px 0;
}

.form-group input,
textarea {
  width: 50%;
}
